body {
	background-color: rgb(20, 20, 106);
	direction: rtl;
	margin: 0;
}

section {
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	padding: 20px 24px;
	width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	color: #000;
}

img {
	display: block;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	-webkit-text-stroke: 1px #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-image: url(https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.0-9/s960x960/82511979_10156783748926892_215156489772335104_o.jpg?_nc_cat=107&_nc_ohc=4EG6B3qwzxoAX9l-GOP&_nc_ht=scontent.fsdv1-2.fna&oh=ae83680795068840168c1a2c04f1e7ad&oe=5EDB99BC);
	font-size: 44pt;
	background-attachment: fixed;
	background-position: 50px 50px;
}

@media only screen and (min-width: 800px) {
    section {
        padding: 20px 60px;
        width: 80%;
    }

    img {
        width: 23%;
        float: right;
        margin: 68px 6px 2px 20px;
    }
}
