body {
	background-color: rgb(20, 20, 106);
	direction: rtl;
	margin: 0;
}

section {
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	padding: 20px 24px;
	width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	color: #000;
}

img {
    display: block;
    max-width: 400px;
    min-width: 150px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

@media only screen and (min-width: 800px) {
    section {
        padding: 20px 60px;
        width: 80%;
    }

    img {
        width: 23%;
        float: right;
        margin: 68px 6px 2px 20px;
    }
}
